label {
    margin-top: 12px;
    font-size: 13px;
    color: #94a3b8;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    width: 450px;
    background: #020617;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,.6);
}

h1 {
    margin: 0 0 16px;
    font-size: 18px;
    text-align: center;
}

ul {
    padding-left: 0px;
}

ul li {
    list-style-type: none;
    display: flex;
    gap: 6px;
    margin-bottom: 8px;
}

input.encrypted {
    border: 1px solid #66293b !important
}

input.decrypted {
    border: 1px solid #1e663b !important
}

input[type="password"],
input[type="text"] {
    flex: 1;
    padding: 8px;
    background: #020617;
    border: 1px solid #1e293b;
    border-radius: 4px;
    color: #e5e7eb;
}

/*input[type="text"] {
    width: 100%;
    margin-top: 4px;
}*/

/*input[type="text"]:focus {
    outline: none;
    border-color: #38bdf8;
}*/

button {
    padding: 8px 10px;
    background: #1e293b;
    border: none;
    border-radius: 4px;
    color: #e5e7eb;
    cursor: pointer;
}

button:hover {
    background: #334155;
}

form {
    margin-top: 16px;
    display: flex;
    gap: 6px;
}
